@import url('http://fonts.cdnfonts.com/css/feeling-passionate');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

/* Reset the page in SCSS */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 100%;
}

input[type="search"] {
    font-family: FontAwesome;
    position: relative; 
}

.section-3-text{
    font-family: 'Feeling Passionate', sans-serif;
    opacity: 55%;
    // font-size:50px;
    font-size: 2.5vw;
    text-align: center;
}

.divider {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
//   width: 100%;
//   height: 100px;
  width: 100%;
  height:100%;
  /* drop the height to have a constant angle for all screen widths */
}

.top{
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    background-color: #ffffff;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 999;
    text-decoration: none;

    a{
        text-decoration: none;
        color:rgb(12, 12, 12);
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto auto;
        width: calc(100% - 30px);
        height: 100%;

        .ham{
            height: calc(100% - 5px);
            display: none;
            height:40px;
        }

        .search{
            height: calc(100% - 5px);
            display: none;
            height:40px;
        }

        //600px tablets
        @media screen and (max-width: 1280px) {
            
            .ham{
                display:inline-block;
            } &:hover{
                cursor: pointer;
            }

            .search{
                display:inline-block;
            } &:hover{
                cursor: pointer;
            }

            .navbar{
                display:none;
                background: red;
            }


            .nav-searchbar{
                display: none;
            }

            .login-btn{
                display: none;
            }
    
            .register-btn{
                display: none;
            }

            .Basket-btn{
                display: none;
            }

            .basket-img{
                background-size: 150px;
                width: 50px;
                height: 50px;
            }

            .logo-img{
                background-size: 150px;
                width: 190px;
                height: 70px;
                // margin:0px 45px 0px 5px;
                margin: auto auto;
            }

            .navbar2{
                p{
                    display: none;
                }
            }
        }

        //600px phones
        @media screen and (max-width: 600px) {
            .ham{
                display:inline-block;
            } &:hover{
                cursor: pointer;
            }

            .navbar{
                display:none;
                background: red;
            }

            .logo-img{
                background-size: 150px;
                width: 240px;
                height: 70px;
                margin:0px 45px 0px 5px;
            }

        }

        @media screen and (max-width: 400px){
            .ham{
                display:inline-block;
            } &:hover{
                cursor: pointer;
            }

            .navbar{
                display:none;
                background: red;
            }

            .logo-img{
                background-size: 150px;
                width: 199px;
                height: 70px;
                margin:0px 45px 0px 5px;
            }
        }

        /*Galaxy Fold*/
        @media screen and (max-width: 300px){
            .ham{
                display:inline-block;
            } &:hover{
                cursor: pointer;
            }

            .navbar{
                display:none;
                background: red;
            }

            .logo-img{
                background-size: 150px;
                width: 140px;
                height: 70px;
                margin:0px 45px 0px 5px;
            }
        }

        /*1920x1080*/
        @media screen and (min-width:1920px) and (max-width:1920px){
            .logo-img{
                background-size: 150px;
                width: 270px;
                height: 70px;
                margin:0px 45px 0px 5px;
            }
        }
    }

    .logo-img{
        background-size: 150px;
        width: 200px;
        height: 70px;
        margin:0px 45px 0px 5px;
    }

    .basket-img{
        background-size: 150px;
        width: 60px;
        height: 60px;
    }

    .navbar, .navbar2{
        display: flex;
        text-decoration: none;

        li{
            margin: 10px;
            font-size:1.05vw;
            // list-style-position: outside;
        }
    }

    .navbar{
        li{
            list-style: none;
        }
        li:before{
            content: "\2022";
            color: yellow;
            list-style: none;
        }
    }

    .navbar2{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        // li{
        //     margin:70px 0px;
        // }

        .login-btn{
            &:hover{
                color: rgb(206, 206, 6);
            }
        }

        .register-btn{
            &:hover{
                color: rgb(206, 206, 6);
            }
        }

        .Basket-btn{
            color:rgb(34, 34, 34);
            &:hover{
                color:rgb(156, 156, 156);
                transition: 0.5s;
            }
        }
    }

    .nav-searchbar{
        width: 500px;
        height: 33.5px;
        border-radius: 25px;
        border: none;
        background: rgb(238, 236, 236);
        outline: none;
        padding-left: 20px;
        margin:0px 0px 0px 45px;
        font-size:0.9vw;
        
        input.nosubmit {
            width: 260px;
            border: 1px solid #555;
            display: block;
            padding: 9px 4px 9px 40px;
            background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
        }
    }
}


.popup{
    position:fixed;
    background: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:999;
    transition-duration: 1s;
    transition-property: transform;

    .ham-ul{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: transform 1s ease-in;
        transform: translate(-6000px, 0px);

        .close-popup{
            color:rgb(34, 34, 34);
        }
    }

    li{
        list-style: none;
        margin:10px;
        a{
            text-decoration: none;
            font-size: 8vw;
            font-size:6vh;
            color: black;
        } &:hover{
            font-weight:bold;
        }
    }
}

.disabled{
    display: none;
    background: black;
}


.Fjalla-text{
    font-family: 'Fjalla One', sans-serif;
    font-size:20px;
}

.Fjalla-text-h2{
    font-family: 'Fjalla One', sans-serif;
    font-size:18px;
}

.Fjalla-text-h3{
    font-family: 'Fjalla One', sans-serif;
    font-size:10px;
}

//1280px tablets
@media screen and (max-width: 1280px) {
    .section-2{
        display: none;
    }
}

//600px phones
@media screen and (max-width: 600px) {
    .section-3{
        display: none;
    }
}


.section-2{
    height: 8vh;
    position: relative;
    top: 100px;
    background-color: #F2F3F3;



    .section-2-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        height: 100%;
        // max-width: 1028px;
        // width:calc(100% - 50px);
        margin: 0px 100px;
        margin-right: auto;
        order:9;

        
        li{
            list-style: none;
            text-decoration: none;
            font-size:1.1vw;


            a{
                text-decoration: none;
                color: black;
            }
        }

        .Fjalla-text-h2{
            display: flex;
        }


        .finance-li-grey{
            background-color: grey;
            border-radius: 21px;
            width:250px;
            height: 80px;
            // position: sticky;
            // top: 0rem;
            display: flex;
            align-items: center;
            justify-content: center;

            li{
                .Finance-white{
                    color: white;
                }
            }
        }

    }
}

@media screen and (max-width:915px){
    .section-3{
        .section-3-nav{
            .icon-info-1, .icon-info-2, .icon-info-3, .icon-info-4, .icon-info-5, {
                display: none;
            }
        }
        .section-3-text{
            display: none;
        }
    }
}

.section-3{
    height: 25vh;
    position: relative;
    top: 100px;
    background-color: #ffffff;


    .section-3-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        height: 100%;
        max-width: 2028px;
        width:calc(100% - 10px);
        margin: 0px auto;

        li{
            list-style: none;
        }

    }
    .wrench-img{
        background-size: 150px;
        width: 60px;
        height: 70px;
    }

    .van-img{
        background-size: 150px;
        width: 60px;
        height: 70px;
        
    }

    .trustpilot-img{
        background-size: 100px;
        // width: 145px;
        // height: 90px;
        width:55%;
        height: auto;
    }

    .thumbsUp-img{
        background-size: 150px;
        width: 60px;
        height: 70px;
    }

    .wallet-img{
        background-size: 150px;
        width: 60px;
        height: 70px;
    }

    .icon-info-3{
        margin: 0px 5px 0px 90px;
    }

    .icon-info-1, .icon-info-2, .icon-info-4, .icon-info-5{
        display: flex;
        align-items:center;
        justify-content: space-between;
        flex-direction: row;

        h3{
            font-size: 1.3vw;
        }
    }
}


.section-4-5-6{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;

    .product-1-text{
        font-family: 'Feeling Passionate', sans-serif;
        opacity: 77%;
        // font-size:50px;
        font-size: 1.9vw;
        padding: 10px;
        color: #DAD7D6;
        text-align: left;

        p{
            font-size: 1.4vw;
        }
    }
    .product-2-text{
        font-family: 'Feeling Passionate', sans-serif;
        opacity: 77%;
        // font-size:50px;
        font-size: 1.9vw;
        padding: 10px;
        color: #DAD7D6;
        text-align: right;

        p{
            font-size: 1.4vw;
        }
    }

    .product-3-text{
        font-family: 'Feeling Passionate', sans-serif;
        opacity: 77%;
        // font-size:50px;
        font-size: 1.9vw;
        padding: 10px;
        color: #DAD7D6;
        text-align: left;

        p{
            font-size: 1.4vw;
        }
    }
}

.section-4{
    height: 22vh;
    position: relative;
    top: 220px;
    // background-color: #5f5f5f;
    max-width: 2028px;  /*1028 before*/
    width:calc(100% - 10px);
    margin: 0px auto;

    display:flex;
    flex-direction: row;
    border-left:0px solid white;
    border-right:0px solid white;
    overflow:hidden;

    border: 5px solid #5f5f5f;

    .text-box{
        margin:-20px;
        padding:3.5%;
        padding-inline-start: 5.5%;
        height: auto;
        flex-grow:5;
        background:#5f5f5f;
        clip-path: polygon(46% 0, 100% 100%, 0 100%, 0 0);

        h1{
            font-size:3vw;
        }
    }

    .imagebox{
        flex-grow:3;
        background:white;

        display: flex;
        align-items: center;
        justify-content:space-evenly;

        img{
            width:26%;
            height:auto;
        }
    }
}


.section-5{
    height: 22vh;
    position: relative;
    top: 220px;
    // background-color: #16889A;

    max-width: 2028px; /*1028 before*/
    width:calc(100% - 10px);
    margin: 0px auto;

    display:flex;
    flex-direction: row;
    border-left:0px solid white;
    border-right:0px solid white;
    overflow:hidden;

    border: 5px solid #16889A;

    .text-box{
        flex-grow:5;
        height: auto;
        background:#16889A;
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 45% 0);
        text-align:right;

        margin:-20px;
        padding:3.5%;
        padding-inline-start: 5.5%;

        h1{
            font-size:3vw;
        }
    }

    .imagebox2{
        flex-grow:3;
        background:white;

        display: flex;
        align-items: center;
        justify-content:space-evenly;

        img{
            width: 27%;
            height:auto;

        }
        .blueSofa2{
            width: 37%;
            height:auto;
        }
    }

}

.section-6{
    height: 22vh;
    margin: 100px;
    position: relative;
    top: 220px;
    // background-color: #5f5f5f;

    max-width: 2028px; /*1028 before*/
    width:calc(100% - 10px);
    margin: 0px auto;

    display:flex;
    flex-direction: row;
    border-left:0px solid white;
    border-right:0px solid white;
    overflow:hidden;

    border: 5px solid #444851;

    .text-box{
        height: auto;
        flex-grow:5;
        background:#444851;
        clip-path: polygon(46% 0, 100% 100%, 0 100%, 0 0);
        // margin:-20px;
        margin:-20px;
        padding:4.5%;
        padding-inline-start: 5.5%;

        h1{
            font-size:3vw;
        }
    }

    .imagebox{
        flex-grow:3;
        background:white;

        display: flex;
        align-items: center;
        justify-content:space-evenly;

        img{
            width:26%;
            height:auto;
        }

        .blackSofa3{
            width:16%;
            height:auto;
        }
    }
    
}

.section-7{
    height: 10vh;
    margin: 100px;
    position: relative;
    top: 27px;
    
}