@import url("http://fonts.cdnfonts.com/css/feeling-passionate");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
/* Reset the page in SCSS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 100%;
}

input[type="search"] {
  font-family: FontAwesome;
  position: relative;
}

.section-3-text {
  font-family: 'Feeling Passionate', sans-serif;
  opacity: 55%;
  font-size: 2.5vw;
  text-align: center;
}

.divider {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* drop the height to have a constant angle for all screen widths */
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 999;
  text-decoration: none;
}

.top a {
  text-decoration: none;
  color: #0c0c0c;
}

.top header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto auto;
  width: calc(100% - 30px);
  height: 100%;
  /*Galaxy Fold*/
  /*1920x1080*/
}

.top header .ham {
  height: calc(100% - 5px);
  display: none;
  height: 40px;
}

.top header .search {
  height: calc(100% - 5px);
  display: none;
  height: 40px;
}

@media screen and (max-width: 1280px) {
  .top header .ham {
    display: inline-block;
  }
  .top header:hover {
    cursor: pointer;
  }
  .top header .search {
    display: inline-block;
  }
  .top header:hover {
    cursor: pointer;
  }
  .top header .navbar {
    display: none;
    background: red;
  }
  .top header .nav-searchbar {
    display: none;
  }
  .top header .login-btn {
    display: none;
  }
  .top header .register-btn {
    display: none;
  }
  .top header .Basket-btn {
    display: none;
  }
  .top header .basket-img {
    background-size: 150px;
    width: 50px;
    height: 50px;
  }
  .top header .logo-img {
    background-size: 150px;
    width: 190px;
    height: 70px;
    margin: auto auto;
  }
  .top header .navbar2 p {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .top header .ham {
    display: inline-block;
  }
  .top header:hover {
    cursor: pointer;
  }
  .top header .navbar {
    display: none;
    background: red;
  }
  .top header .logo-img {
    background-size: 150px;
    width: 240px;
    height: 70px;
    margin: 0px 45px 0px 5px;
  }
}

@media screen and (max-width: 400px) {
  .top header .ham {
    display: inline-block;
  }
  .top header:hover {
    cursor: pointer;
  }
  .top header .navbar {
    display: none;
    background: red;
  }
  .top header .logo-img {
    background-size: 150px;
    width: 199px;
    height: 70px;
    margin: 0px 45px 0px 5px;
  }
}

@media screen and (max-width: 300px) {
  .top header .ham {
    display: inline-block;
  }
  .top header:hover {
    cursor: pointer;
  }
  .top header .navbar {
    display: none;
    background: red;
  }
  .top header .logo-img {
    background-size: 150px;
    width: 140px;
    height: 70px;
    margin: 0px 45px 0px 5px;
  }
}

@media screen and (min-width: 1920px) and (max-width: 1920px) {
  .top header .logo-img {
    background-size: 150px;
    width: 270px;
    height: 70px;
    margin: 0px 45px 0px 5px;
  }
}

.top .logo-img {
  background-size: 150px;
  width: 200px;
  height: 70px;
  margin: 0px 45px 0px 5px;
}

.top .basket-img {
  background-size: 150px;
  width: 60px;
  height: 60px;
}

.top .navbar, .top .navbar2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.top .navbar li, .top .navbar2 li {
  margin: 10px;
  font-size: 1.05vw;
}

.top .navbar li {
  list-style: none;
}

.top .navbar li:before {
  content: "\2022";
  color: yellow;
  list-style: none;
}

.top .navbar2 {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.top .navbar2 .login-btn:hover {
  color: #cece06;
}

.top .navbar2 .register-btn:hover {
  color: #cece06;
}

.top .navbar2 .Basket-btn {
  color: #222222;
}

.top .navbar2 .Basket-btn:hover {
  color: #9c9c9c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.top .nav-searchbar {
  width: 500px;
  height: 33.5px;
  border-radius: 25px;
  border: none;
  background: #eeecec;
  outline: none;
  padding-left: 20px;
  margin: 0px 0px 0px 45px;
  font-size: 0.9vw;
}

.top .nav-searchbar input.nosubmit {
  width: 260px;
  border: 1px solid #555;
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.popup {
  position: fixed;
  background: #EDEDED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.popup .ham-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: -webkit-transform 1s ease-in;
  transition: -webkit-transform 1s ease-in;
  transition: transform 1s ease-in;
  transition: transform 1s ease-in, -webkit-transform 1s ease-in;
  -webkit-transform: translate(-6000px, 0px);
          transform: translate(-6000px, 0px);
}

.popup .ham-ul .close-popup {
  color: #222222;
}

.popup li {
  list-style: none;
  margin: 10px;
}

.popup li a {
  text-decoration: none;
  font-size: 8vw;
  font-size: 6vh;
  color: black;
}

.popup li:hover {
  font-weight: bold;
}

.disabled {
  display: none;
  background: black;
}

.Fjalla-text {
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
}

.Fjalla-text-h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 18px;
}

.Fjalla-text-h3 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 10px;
}

@media screen and (max-width: 1280px) {
  .section-2 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .section-3 {
    display: none;
  }
}

.section-2 {
  height: 8vh;
  position: relative;
  top: 100px;
  background-color: #F2F3F3;
}

.section-2 .section-2-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  margin: 0px 100px;
  margin-right: auto;
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}

.section-2 .section-2-nav li {
  list-style: none;
  text-decoration: none;
  font-size: 1.1vw;
}

.section-2 .section-2-nav li a {
  text-decoration: none;
  color: black;
}

.section-2 .section-2-nav .Fjalla-text-h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-2 .section-2-nav .finance-li-grey {
  background-color: grey;
  border-radius: 21px;
  width: 250px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-2 .section-2-nav .finance-li-grey li .Finance-white {
  color: white;
}

@media screen and (max-width: 915px) {
  .section-3 .section-3-nav .icon-info-1, .section-3 .section-3-nav .icon-info-2, .section-3 .section-3-nav .icon-info-3, .section-3 .section-3-nav .icon-info-4, .section-3 .section-3-nav .icon-info-5 {
    display: none;
  }
  .section-3 .section-3-text {
    display: none;
  }
}

.section-3 {
  height: 25vh;
  position: relative;
  top: 100px;
  background-color: #ffffff;
}

.section-3 .section-3-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  max-width: 2028px;
  width: calc(100% - 10px);
  margin: 0px auto;
}

.section-3 .section-3-nav li {
  list-style: none;
}

.section-3 .wrench-img {
  background-size: 150px;
  width: 60px;
  height: 70px;
}

.section-3 .van-img {
  background-size: 150px;
  width: 60px;
  height: 70px;
}

.section-3 .trustpilot-img {
  background-size: 100px;
  width: 55%;
  height: auto;
}

.section-3 .thumbsUp-img {
  background-size: 150px;
  width: 60px;
  height: 70px;
}

.section-3 .wallet-img {
  background-size: 150px;
  width: 60px;
  height: 70px;
}

.section-3 .icon-info-3 {
  margin: 0px 5px 0px 90px;
}

.section-3 .icon-info-1, .section-3 .icon-info-2, .section-3 .icon-info-4, .section-3 .icon-info-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section-3 .icon-info-1 h3, .section-3 .icon-info-2 h3, .section-3 .icon-info-4 h3, .section-3 .icon-info-5 h3 {
  font-size: 1.3vw;
}

.section-4-5-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}

.section-4-5-6 .product-1-text {
  font-family: 'Feeling Passionate', sans-serif;
  font-size: 1.9vw;
  padding: 10px;
  color: #DAD7D6;
  text-align: left;
}

.section-4-5-6 .product-1-text p {
  font-size: 1.4vw;
}

.section-4-5-6 .product-2-text {
  font-family: 'Feeling Passionate', sans-serif;
  font-size: 1.9vw;
  padding: 10px;
  color: #DAD7D6;
  text-align: right;
}

.section-4-5-6 .product-2-text p {
  font-size: 1.4vw;
}

.section-4-5-6 .product-3-text {
  font-family: 'Feeling Passionate', sans-serif;
  font-size: 1.9vw;
  padding: 10px;
  color: #DAD7D6;
  text-align: left;
}

.section-4-5-6 .product-3-text p {
  font-size: 1.4vw;
}

.section-4 {
  height: 22vh;
  position: relative;
  top: 220px;
  max-width: 2028px;
  /*1028 before*/
  width: calc(100% - 10px);
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-left: 0px solid white;
  border-right: 0px solid white;
  overflow: hidden;
  border: 4px solid #5f5f5f;
  border-right: 0px solid #5f5f5f;
}

.section-4 .text-box {
  margin: -20px;
  padding: 3.5%;
  -webkit-padding-start: 5.5%;
          padding-inline-start: 5.5%;
  height: auto;
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  background: #5f5f5f;
  -webkit-clip-path: polygon(46% 0, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(46% 0, 100% 100%, 0 100%, 0 0);
}

.section-4 .text-box h1 {
  font-size: 3vw;
}

.section-4 .imagebox {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section-4 .imagebox img {
  width: 26%;
  height: auto;
}

.section-5 {
  height: 22vh;
  position: relative;
  top: 220px;
  max-width: 2028px;
  /*1028 before*/
  width: calc(100% - 10px);
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-left: 0px solid white;
  border-right: 0px solid white;
  overflow: hidden;
  border: 4px solid #16889A;
  border-left: 0px solid #16889A;
}

.section-5 .text-box {
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  height: auto;
  background: #16889A;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 45% 0);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 45% 0);
  text-align: right;
  margin: -20px;
  padding: 3.5%;
  -webkit-padding-start: 5.5%;
          padding-inline-start: 5.5%;
}

.section-5 .text-box h1 {
  font-size: 3vw;
}

.section-5 .imagebox2 {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section-5 .imagebox2 img {
  width: 27%;
  height: auto;
}

.section-5 .imagebox2 .blueSofa2 {
  width: 37%;
  height: auto;
}

.section-6 {
  height: 22vh;
  margin: 100px;
  position: relative;
  top: 220px;
  max-width: 2028px;
  /*1028 before*/
  width: calc(100% - 10px);
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-left: 0px solid white;
  border-right: 0px solid white;
  overflow: hidden;
  border: 4px solid #444851;
  border-right: 0px solid #444851;
}

.section-6 .text-box {
  height: auto;
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  background: #444851;
  -webkit-clip-path: polygon(46% 0, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(46% 0, 100% 100%, 0 100%, 0 0);
  margin: -20px;
  padding: 4.5%;
  -webkit-padding-start: 5.5%;
          padding-inline-start: 5.5%;
}

.section-6 .text-box h1 {
  font-size: 3vw;
}

.section-6 .imagebox {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section-6 .imagebox img {
  width: 26%;
  height: auto;
}

.section-6 .imagebox .blackSofa3 {
  width: 16%;
  height: auto;
}

.section-6 .imagebox .blackSofa4 {
  width: 15%;
  height: auto;
}

.section-7 {
  height: 10vh;
  margin: 100px;
  position: relative;
  top: 27px;
}
/*# sourceMappingURL=style.css.map */